@charset "UTF-8";

table {
	border: 1px solid #000;
	border-collapse: collapse;
	width: 400px;
}

th, td {
	border: 1px solid #000;
	border-collapse: collapse;
	text-align: center;
}

#top_login {
	width : 500px;
	height : 20px;
	margin : 10px;
}

#top_login ul li {
	list-style: none;
	padding : 10px 0 0 10px;
	float : right;
}

.clear {
	clear : both;
}